# PostgreSQL
DB_USERNAME=irummate
DB_PASSWORD=change-me

# AWS S3
CLOUD_AWS_S3_BUCKET=your-test-bucket-name
CLOUD_AWS_REGION=ap-northeast-2

# Kakao
KAKAO_CLIENT_ID=your-client-id
KAKAO_CLIENT_SECRET=your-client-secret
KAKAO_REDIRECT_URI=https://dev-api.irummate.com/api/auth/kakao/callback
KAKAO_ADMIN_KEY=your-admin-key

# JWT
JWT_SECRET=your-jwt-secret
JWT_ACCESS_TOKEN_EXPIRATION=3600000
JWT_REFRESH_TOKEN_EXPIRATION=1209600000

# HashIds
HASHIDS_SALT=your-hashids-salt
HASHIDS_MIN_LENGTH=8